.linkContainer {
    border: 2px solid #333;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Shadow: horizontal offset, vertical offset, blur radius, color */
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataContainer {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.actionContainer {
    /* border: 2px solid white; */
    display: flex;
}

.name {
    font-size: 32px;
    font-weight: bold
}

.url {
    font-size: 14px;
    font-style: italic;
    color: grey;
}

.description {
    font-size: 16px;
}